@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", 'sans-serif';
    font-size: 15px;
}

body {
    background-color: #E2DFC7;
}

header {
    display: flex;
    justify-content: center;
    background-color: #656839;
    height: 380px;
    width: 100%;
    padding: 50px;
    gap: 50px;
    border-bottom-width: 50px;
    border-color: #514B23;
    border-style: solid;
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #656839;
    padding: 25px;
    color: #E2DFC7;
    
}

h1 {
    font-weight: 900;
    font-size: 60px;
    color: #FFFFFF;
}

h2, h3 {
    font-weight: 700;
    font-size: 20px;
    color: #514B23;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.profesion {
    font-weight: 600;
    font-size: 18px;
    font-style: italic;
    color: #E2DFC7;
    text-transform: none;
}

.nombre {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-bottom: 50px;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    color: #E2DFC7
}

.items {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
}

.datos {
    display: flex;
    gap: 30px;
}

img {
    border-radius: 20px;
}

main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 60px;
    padding: 80px;

}
section{
    gap:20px;
}
.derecha, .izquierda {
    display: flex;
    flex-direction: column;
    width: 320px;
    gap: 50px;
}
.izquierda{
    background-color: #CBC9AE;
    padding: 25px;
    border-radius: 20px;
}
.lista-d, .lista-i {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
li {
    list-style: none;
}
.titulos-izquierda{
    font-weight: 400;
}
.herramientas{
    display: flex;
    gap: 15px;
    align-items: center;
    text-transform: uppercase;
}